body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    /* Comment: Removed 'justify-content' and 'align-items' properties, they are handled by Tailwind CSS */
    /* Removed 'text-align' as Tailwind CSS will handle text alignment */
}

    /* Background color gradient effect */
body {
    background: linear-gradient(-45deg, #64baa4, #19e2db, #01e0f4, #98f0f7, rgb(71, 154, 180));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    /* Comment: Removed 'display', 'flex-direction', 'justify-content', and 'align-items' properties */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#restaurantSection, #weatherSection {
    border: solid 2px black;
}